
@{
    ViewData["Title"] = "GetVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="column">
        <video width="600" height="400" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="column" style="padding: 5px">
        <p>This is where information about the video is written</p>
    </div>
</div>
<div class="row">
    <div class="column" style="padding: 5px">
        <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="190" height="130">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Forslået Video 1</a>
    </div>
    <div class="column" style="padding: 5px">
        <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="190" height="130">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Forslået Video 2</a>
    </div>
    <div class="column" style="padding: 5px">
        <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="190" height="130">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Forslået Video 3</a>
    </div>
    <div class="column" style="padding: 5px">
        <input type="button" class="btn btn-primary" value="Buy Video" onclick="@("window.location.href='" + @Url.Action("BuyVideo", "Home") + "'");" />
    </div>
</div>


