@{
    ViewData["Title"] = "Home Page";
}

@{
    if (User.Identity.IsAuthenticated)
    {
        <h2>Datalogi</h2>
        <div class="row">
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Datalogi Video 1</a>
            </div>
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Datalogi Video 2</a>
            </div>
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Datalogi Video 3</a>
            </div>
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Datalogi Video 4</a>
            </div>
        </div>

        <h2>Matematik</h2>
        <div class="row">
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Matematik Video 1</a>
            </div>
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Matematik Video 2</a>
            </div>
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Matematik Video 3</a>
            </div>
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Matematik Video 4</a>
            </div>
        </div>

        <h2>Fysik</h2>
        <div class="row">
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Fysik Video 1</a>
            </div>
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Fysik Video 2</a>
            </div>
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Fysik Video 3</a>
            </div>
            <div class="column" style="padding: 5px">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" width="260" height="200">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetVideo">Fysik Video 4</a>
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <p>Beskrivelse af os, hvad er det vi tilbyder osv.</p>
            <p>Nedenunder er en Video der viser hvordan man navigere rundt på hjemmesiden</p>
            <video width="600" height="400" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
    }
}